In [2]:
import os, sys
dir2 = os.path.abspath('')
dir1 = os.path.dirname(dir2)

if not dir1 in sys.path:
    sys.path.append(dir1)

os.chdir('..')

In [3]:
import pandas as pd
import numpy as np
from tqdm.notebook import tqdm
import yaml

from src.data.preprocessing import read_data, data_to_np_tensor, preprocess_split
from models.t2v import *
from matplotlib import pyplot as plt

%load_ext autoreload
%autoreload 2

# Preprocessing

In [3]:
# data = read_data('data/all_tickers.csv')
# train_data = preprocessing(
#     data, 
#     ['Open', 'High', 'Low', 'Close', 'Volume'],         
#     start_date = '2023-12-15',
#     end_date = '2023-12-21'
# )

# test_data = preprocessing(
#     data, 
#     ['Open', 'High', 'Low', 'Close', 'Volume'],          
#     start_date = '2023-12-21',
#     end_date = '2023-12-22',
#     tickers_save = train_data['Close'].columns
# )

In [4]:
# for feature in ['Open', 'High', 'Low', 'Close', 'Volume']:
#     print(train_data['Close'].shape[1], test_data['Close'].shape[1])

In [5]:
# train_ts = data_to_np_tensor(train_data)
# test_ts = data_to_np_tensor(test_data)

In [6]:
# model = TS2Vec(
#     input_dims=train_ts.shape[2],
#     device=1,
#     output_dims=320
# )

# loss_log = model.fit(
#     train_ts,
#     verbose=False
# )

# test_repr = model.encode(test_ts)
# #test_repr = model.encode(test_data, encoding_window='full_series')

In [7]:
# test_repr = model.encode(test_ts, encoding_window='full_series')
# print(test_repr.shape)
# test_repr

# mean stock price prediction

In [4]:
with open('configs/best_stocks_nans_rate.yaml') as f:
    best_stocks = yaml.load(f, Loader=yaml.FullLoader)
best_stocks = list(best_stocks.keys())
# best_stocks

In [5]:
df = read_data('..\\src\\data\\all_tickers.csv')
df_best = df.query("Stock in @best_stocks")

In [6]:
df_best

,Date,Time,Open,High,Low,Close,Volume,Datetime,Stock,Day_week
61,2024-01-30,22:58:00,188.130,188.17,188.110,188.14,1500,2024-01-30 22:58:00,AAPL,Tuesday
62,2024-01-30,22:57:00,188.220,188.22,188.080,188.11,5700,2024-01-30 22:57:00,AAPL,Tuesday
63,2024-01-30,22:56:00,188.220,188.27,188.215,188.22,2600,2024-01-30 22:56:00,AAPL,Tuesday
64,2024-01-30,22:55:00,188.150,188.20,188.140,188.20,2100,2024-01-30 22:55:00,AAPL,Tuesday
65,2024-01-30,22:54:00,188.180,188.18,188.140,188.18,2013,2024-01-30 22:54:00,AAPL,Tuesday
...,...,...,...,...,...,...,...,...,...,...
95882,2023-01-30,17:34:00,115.050,115.09,114.960,114.97,800,2023-01-30 17:34:00,XOM,Monday
95883,2023-01-30,17:33:00,115.090,115.27,114.910,115.15,4603,2023-01-30 17:33:00,XOM,Monday
95884,2023-01-30,17:32:00,115.250,115.25,115.000,115.03,850,2023-01-30 17:32:00,XOM,Monday
95885,2023-01-30,17:31:00,115.145,115.16,115.145,115.16,237,2023-01-30 17:31:00,XOM,Monday
95886,2023-01-30,17:30:00,115.280,115.40,115.280,115.28,1020,2023-01-30 17:30:00,XOM,Monday

In [8]:
mask = df['Stock'].apply(lambda x: x in best_stocks)

In [9]:
df[mask]

,Date,Time,Open,High,Low,Close,Volume,Datetime,Stock,Day_week
61,2024-01-30,22:58:00,188.130,188.17,188.110,188.14,1500,2024-01-30 22:58:00,AAPL,Tuesday
62,2024-01-30,22:57:00,188.220,188.22,188.080,188.11,5700,2024-01-30 22:57:00,AAPL,Tuesday
63,2024-01-30,22:56:00,188.220,188.27,188.215,188.22,2600,2024-01-30 22:56:00,AAPL,Tuesday
64,2024-01-30,22:55:00,188.150,188.20,188.140,188.20,2100,2024-01-30 22:55:00,AAPL,Tuesday
65,2024-01-30,22:54:00,188.180,188.18,188.140,188.18,2013,2024-01-30 22:54:00,AAPL,Tuesday
...,...,...,...,...,...,...,...,...,...,...
95882,2023-01-30,17:34:00,115.050,115.09,114.960,114.97,800,2023-01-30 17:34:00,XOM,Monday
95883,2023-01-30,17:33:00,115.090,115.27,114.910,115.15,4603,2023-01-30 17:33:00,XOM,Monday
95884,2023-01-30,17:32:00,115.250,115.25,115.000,115.03,850,2023-01-30 17:32:00,XOM,Monday
95885,2023-01-30,17:31:00,115.145,115.16,115.145,115.16,237,2023-01-30 17:31:00,XOM,Monday
95886,2023-01-30,17:30:00,115.280,115.40,115.280,115.28,1020,2023-01-30 17:30:00,XOM,Monday

In [11]:
dd = {'Open': 'first', 'High': 'max', 'Low': 'min', 'Close': 'last', 'Volume': 'sum'}

In [12]:
df_best_h = df_best.set_index('Datetime').groupby(
    ['Stock', pd.Grouper(freq='h')],
).agg(dd)

df_best_h

                             Open    High     Low   Close  Volume
Stock Datetime
AAPL  2023-01-30 17:00:00  145.15  145.53  144.18  145.13  291457
      2023-01-30 18:00:00  143.97  145.33  143.38  144.96  348830
      2023-01-30 19:00:00  144.07  144.30  143.50  143.95  215404
      2023-01-30 20:00:00  143.38  144.24  143.18  144.17  254970
      2023-01-30 21:00:00  143.31  143.81  143.01  143.38  192383
...                           ...     ...     ...     ...     ...
XOM   2024-01-30 18:00:00  103.69  103.70  102.95  103.22  159389
      2024-01-30 19:00:00  103.79  103.96  103.49  103.67   90110
      2024-01-30 20:00:00  103.68  103.98  103.63  103.76   54009
      2024-01-30 21:00:00  104.15  104.16  103.67  103.68   61363
      2024-01-30 22:00:00  104.38  104.46  104.15  104.15   91004

[42196 rows x 5 columns]

In [14]:
df = df_best_h.groupby('Stock').pct_change().reset_index()

In [15]:
df

,Stock,Datetime,Open,High,Low,Close,Volume
0,AAPL,2023-01-30 17:00:00,NaN,NaN,NaN,NaN,NaN
1,AAPL,2023-01-30 18:00:00,-0.008130,-0.001374,-0.005549,-0.001171,0.196849
2,AAPL,2023-01-30 19:00:00,0.000695,-0.007087,0.000837,-0.006967,-0.382496
3,AAPL,2023-01-30 20:00:00,-0.004789,-0.000416,-0.002230,0.001528,0.183683
4,AAPL,2023-01-30 21:00:00,-0.000488,-0.002981,-0.001187,-0.005480,-0.245468
...,...,...,...,...,...,...,...
42191,XOM,2024-01-30 18:00:00,0.005430,0.003969,0.008325,0.008106,0.568944
42192,XOM,2024-01-30 19:00:00,0.000964,0.002507,0.005245,0.004360,-0.434654
42193,XOM,2024-01-30 20:00:00,-0.001060,0.000192,0.001353,0.000868,-0.400633
42194,XOM,2024-01-30 21:00:00,0.004533,0.001731,0.000386,-0.000771,0.136162
42195,XOM,2024-01-30 22:00:00,0.002208,0.002880,0.004630,0.004533,0.483044

In [17]:
train_start, train_end = '2023-10-01', '2023-11-01'
test_start, test_end = '2023-11-01', '2023-11-07'


train_data = preprocess_split(
    df, 
    ['Open', 'High', 'Low', 'Close', 'Volume'],         
    start_date = train_start,
    end_date = train_end,
    tickers_save = best_stocks
)

test_data = preprocess_split(
    df, 
    ['Open', 'High', 'Low', 'Close', 'Volume'],          
    start_date = test_start,
    end_date = test_end,
    tickers_save = best_stocks
)

NAN in data  0
NAN in data  0
NAN in data  0
NAN in data  0
NAN in data  0
NAN in data  0
NAN in data  0
NAN in data  0
NAN in data  0
NAN in data  0

In [18]:
train_ts = data_to_np_tensor(train_data)
test_ts = data_to_np_tensor(test_data)

train_ts.shape, test_ts.shape

((28, 132, 5), (28, 24, 5))

In [19]:
train_ts

array([[[ 1.01617707e-02,  1.08784177e-02,  1.21508462e-02,
          8.62671952e-03, -5.79033902e-01],
        [ 5.20321443e-04,  2.99246130e-03,  3.76059475e-04,
         -4.04530744e-04,  8.68174461e-01],
        [ 8.08967988e-04, -4.36054851e-03, -4.62668440e-04,
          4.62507949e-04, -3.66862479e-01],
        ...,
        [ 3.52858151e-03,  3.93955430e-03,  2.98339930e-03,
          2.56440488e-03,  1.08821557e-01],
        [-4.68823254e-04,  0.00000000e+00,  1.08967751e-03,
          2.96945286e-03, -2.23905932e-01],
        [ 1.70028143e-03,  9.37097341e-04,  2.50058837e-03,
          2.93134783e-04,  5.41046204e-01]],

       [[-4.09643409e-03, -6.61322645e-03, -3.89654014e-03,
         -6.62251656e-03, -8.06811021e-01],
        [-6.67565745e-03, -1.47938942e-03, -6.81189721e-03,
         -6.73400673e-05,  1.40605428e+00],
        [-3.86939108e-03, -7.13852785e-03, -3.59907646e-03,
         -7.94666307e-03, -4.17516269e-01],
        ...,
        [ 2.85755108e-04,  1.07066381e-03,  1.00207573e-03,
         -2.14178625e-04,  1.78845171e-01],
        [ 1.07127553e-03,  1.35472371e-03,  7.86557025e-04,
          2.14224507e-04,  5.71900737e-01],
        [ 8.91774274e-03,  8.61577898e-03, -3.57244927e-04,
          8.56714500e-04,  1.98359243e+00]],

       [[-1.54005168e-02, -1.58224597e-02, -1.44957548e-02,
         -1.60427807e-02, -8.24410726e-01],
        [-1.04975856e-04,  1.04395031e-03,  5.25320445e-04,
         -4.28511706e-03,  7.65760870e-01],
        [-6.08923885e-03, -6.25716967e-03, -7.24561588e-03,
          2.09929674e-04, -2.23084026e-01],
        ...,
        [ 8.31556503e-03,  7.77754102e-03,  3.63519726e-03,
          1.70739516e-03,  2.50778816e-01],
        [ 2.22034257e-03,  2.74870494e-03,  7.13753063e-03,
          7.56365186e-03,  3.49013779e-01],
        [-2.74290537e-03,  3.16288877e-04, -2.00973133e-03,
          2.74899556e-03,  6.74816116e-01]],

       ...,

       [[-2.34776229e-02, -1.92729934e-02, -2.03831041e-02,
         -1.86881642e-02, -5.38655085e-01],
        [-6.01051841e-03, -3.98009950e-03, -6.14189020e-03,
         -5.97460792e-03,  1.54714974e+00],
        [-5.16502897e-03, -8.74125874e-03, -4.28805650e-03,
         -6.63661407e-03,  4.13394222e-02],
        ...,
        [ 2.53549696e-04,  0.00000000e+00,  3.69003690e-03,
         -5.06585613e-04, -1.90111308e-01],
        [ 4.30925222e-03,  2.78269669e-03, -2.53549696e-04,
         -2.53421186e-04,  4.53938851e-02],
        [ 2.77637557e-03,  2.52270434e-03,  3.04336799e-03,
          4.81622307e-03,  1.05636003e+00]],

       [[-1.62510157e-03, -2.43476089e-03, -3.38176353e-03,
         -5.18717580e-03, -7.55345299e-01],
        [-1.37732423e-03,  2.87877840e-03,  1.50810607e-03,
          3.14109813e-03,  1.11886256e+00],
        [-2.25691179e-03, -4.05616225e-03, -2.25875267e-03,
         -1.44038076e-03, -3.13187796e-01],
        ...,
        [ 2.82381829e-03,  3.00761110e-03,  4.00591643e-03,
          1.10605874e-03,  2.82165040e-01],
        [ 7.95788443e-04,  4.89566122e-04,  2.27119268e-03,
          2.60864228e-03,  1.95551162e-01],
        [ 6.42241116e-04,  7.33989846e-04, -1.16364527e-03,
          9.48911812e-04,  1.58463574e+00]],

       [[-2.25244369e-02, -2.27214922e-02, -2.26923733e-02,
         -2.29650421e-02, -6.85734945e-01],
        [ 3.47826087e-04,  1.99531535e-03,  2.26955307e-03,
          3.65630713e-03,  5.19752550e-01],
        [ 8.69262865e-04, -1.29870130e-03,  1.30639261e-03,
         -1.99496921e-03, -1.27201314e-01],
        ...,
        [ 0.00000000e+00,  0.00000000e+00,  3.32604771e-03,
          6.61688250e-04, -4.92141075e-01],
        [ 9.45358291e-05, -1.88928774e-04, -1.61015344e-03,
         -1.03910826e-03,  6.54869035e-01],
        [ 1.65422063e-03,  2.83446712e-03,  2.41912532e-03,
          1.51300236e-03,  1.36499798e+00]]])

In [21]:

from models.t2v import ts2vec
from models.t2v.ts2vec import TS2Vec

model = TS2Vec(
    input_dims=train_ts.shape[2],
    device='cpu',
    output_dims=128
)

loss_log = model.fit(
    train_ts,
    verbose=False
)

In [22]:
train_repr = model.encode(train_ts)
test_repr = model.encode(test_ts)

train_repr.shape, test_repr.shape

((28, 132, 128), (28, 24, 128))

In [23]:
def stock_embeddigns_to_df(data_tensor: np.ndarray, stocks, dates) -> dict:    
    res = pd.DataFrame()
    for i, stock in enumerate(stocks):
        df = pd.DataFrame(data_tensor[i], index=dates)
        df.columns = ['emb_' + str(i) for i in range(len(df.columns))]
        df['Stock'] = stock
        res = pd.concat([res, df])

    return res.reset_index(drop=False, names='Datetime')

X_train = stock_embeddigns_to_df(train_repr, stocks=train_data['Open'].columns, dates=train_data['Open'].index)
X_test = stock_embeddigns_to_df(test_repr, stocks=test_data['Open'].columns, dates=test_data['Open'].index)
X_train.head()

,Datetime,emb_0,emb_1,emb_2,emb_3,emb_4,emb_5,emb_6,emb_7,emb_8,...,emb_119,emb_120,emb_121,emb_122,emb_123,emb_124,emb_125,emb_126,emb_127,Stock
0,2023-10-02 17:00:00,-0.576592,-0.085389,-0.180236,0.104353,0.052601,-0.373977,-0.303355,-0.245368,-0.153448,...,-0.237753,-0.183204,0.041506,-0.088383,-0.095953,-0.277801,-0.228087,0.075494,0.053723,AAPL
1,2023-10-02 18:00:00,0.005394,-0.263543,-0.445396,0.011726,-0.040396,-0.344073,0.058727,-0.339872,-0.423581,...,-0.169546,-0.176366,0.095663,-0.268582,-0.188872,0.106189,-0.060161,-0.139006,-0.091891,AAPL
2,2023-10-02 19:00:00,-0.624870,-0.094695,-0.210419,-0.111449,0.044308,-0.293072,-0.365148,-0.068545,0.067939,...,-0.199024,-0.110070,0.001707,-0.149053,-0.167050,-0.546129,-0.219797,0.113228,0.051339,AAPL
3,2023-10-02 20:00:00,-0.269701,-0.319665,-0.387342,-0.009177,-0.045935,-0.417750,-0.300339,-0.147413,-0.284537,...,-0.303175,-0.063661,0.060790,-0.392800,-0.258754,-0.076986,-0.120545,-0.191235,-0.055262,AAPL
4,2023-10-02 21:00:00,-0.389854,-0.064718,-0.247088,-0.022711,0.074581,-0.309505,-0.114075,-0.362404,-0.253921,...,-0.099198,-0.211249,0.083274,-0.046078,-0.063429,-0.216250,-0.152970,0.059913,0.014242,AAPL

In [32]:
X_emd = pd.concat([X_train, X_test])

In [42]:
X_test

,Datetime,emb_0,emb_1,emb_2,emb_3,emb_4,emb_5,emb_6,emb_7,emb_8,...,emb_119,emb_120,emb_121,emb_122,emb_123,emb_124,emb_125,emb_126,emb_127,Stock
0,2023-11-01 17:00:00,-0.373466,-0.185560,-0.136470,0.069002,-0.042021,-0.298969,-0.245178,-0.387105,-0.345231,...,-0.244022,-0.175803,0.110706,-0.049217,-0.114365,-0.110713,-0.132227,0.046920,-0.031367,AAPL
1,2023-11-01 18:00:00,-0.026326,-0.225818,-0.362553,-0.100840,-0.014798,-0.235082,-0.032974,-0.303744,-0.362218,...,-0.175116,-0.153067,0.212462,-0.309010,-0.198712,0.019156,-0.001064,-0.135868,-0.106039,AAPL
2,2023-11-01 19:00:00,-0.543625,-0.277926,-0.184258,-0.202278,-0.093854,-0.198849,-0.447892,-0.046946,-0.038001,...,-0.216337,-0.050102,0.097363,-0.360826,-0.223246,-0.577680,-0.142791,-0.004237,-0.022407,AAPL
3,2023-11-01 20:00:00,-0.174167,-0.262722,-0.236443,-0.083379,-0.089945,-0.249043,-0.251111,-0.226858,-0.324150,...,-0.259507,-0.032284,0.128026,-0.263626,-0.219564,-0.110734,-0.150147,-0.153390,-0.106588,AAPL
4,2023-11-01 21:00:00,0.071759,0.031869,-0.072967,-0.209024,-0.101154,0.102565,0.181073,-0.233408,-0.277772,...,0.004201,-0.172342,-0.133940,-0.048103,-0.049000,-0.127993,-0.119773,-0.082662,-0.313850,AAPL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,2023-11-06 18:00:00,-0.101061,-0.246383,-0.283701,-0.056795,-0.080366,-0.416125,-0.237057,-0.317585,-0.415544,...,-0.302792,-0.094210,0.101782,-0.341959,-0.164857,0.130709,-0.023948,-0.305364,-0.128359,XOM
668,2023-11-06 19:00:00,-0.533081,-0.199663,-0.234824,-0.055469,0.038761,-0.261389,-0.313722,-0.175407,-0.113102,...,-0.186219,-0.141168,0.180547,-0.183145,-0.136388,-0.430996,-0.118240,0.102733,0.026605,XOM
669,2023-11-06 20:00:00,-0.312044,-0.253871,-0.244659,-0.101523,-0.075817,-0.350221,-0.336874,-0.153063,-0.226129,...,-0.331553,-0.095176,0.160122,-0.355692,-0.196815,-0.146728,-0.117411,-0.203494,-0.086147,XOM
670,2023-11-06 21:00:00,-0.313658,-0.076054,-0.275764,-0.039703,0.045781,-0.277464,-0.112843,-0.293361,-0.270590,...,-0.081913,-0.200701,0.130599,-0.084754,-0.127761,-0.204759,-0.100080,0.023182,0.004685,XOM
671,2023-11-06 22:00:00,-0.225841,-0.185266,-0.316003,-0.132690,-0.049529,-0.328846,-0.252894,-0.200735,-0.285826,...,-0.252931,-0.126934,0.162525,-0.217943,-0.113733,-0.128393,-0.101702,-0.139055,-0.099265,XOM

In [26]:
y = df_best.set_index('Datetime').groupby(
    ['Stock', pd.Grouper( freq='h')],
).agg({'Close': 'mean'}).reset_index()
y.head()

  Stock            Datetime       Close
0  AAPL 2023-01-30 17:00:00  144.833667
1  AAPL 2023-01-30 18:00:00  144.159833
2  AAPL 2023-01-30 19:00:00  143.951083
3  AAPL 2023-01-30 20:00:00  143.681667
4  AAPL 2023-01-30 21:00:00  143.388167

In [28]:
train_start, train_end = '2023-10-01', '2023-11-01'
test_start, test_end = '2023-11-01', '2023-11-07'

y_train = y[(y['Datetime'].dt.date >= pd.Timestamp(train_start).date()) & 
             (y['Datetime'].dt.date < pd.Timestamp(train_end).date())]

y_test = y[(y['Datetime'].dt.date >= pd.Timestamp(test_start).date()) & 
             (y['Datetime'].dt.date < pd.Timestamp(test_end).date())]

In [37]:
y_emd = pd.concat([y_train, y_test])

In [38]:
y_emd

      Stock            Datetime       Close
1011   AAPL 2023-10-02 17:00:00  173.344000
1012   AAPL 2023-10-02 18:00:00  173.639167
1013   AAPL 2023-10-02 19:00:00  173.219500
1014   AAPL 2023-10-02 20:00:00  173.224333
1015   AAPL 2023-10-02 21:00:00  173.018417
...     ...                 ...         ...
41851   XOM 2023-11-06 18:00:00  107.347500
41852   XOM 2023-11-06 19:00:00  107.014914
41853   XOM 2023-11-06 20:00:00  106.882000
41854   XOM 2023-11-06 21:00:00  106.277917
41855   XOM 2023-11-06 22:00:00  106.013305

[4368 rows x 3 columns]

In [40]:
X_emd.to_csv('configs/downloads/x_emb.csv', index=False)
y_emd.to_csv('configs/downloads/y_emb.csv', index=False)

In [43]:
y_name = 'Close'

df_train = pd.merge(X_train, y_train, on=['Stock', 'Datetime'])
df_test = pd.merge(X_test, y_test, on=['Stock', 'Datetime'])

X_train, y_train = df_train.drop(columns=[y_name, 'Datetime', 'Stock']), df_train[y_name]
X_test, y_test = df_test.drop(columns=[y_name, 'Datetime', 'Stock']), df_test[y_name]

In [45]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error as MAE
from xgboost import XGBRegressor

model = XGBRegressor()

model.fit(X_train, y_train)
y_pred = model.predict(X_test)

MAE(y_test, y_pred)

91.84286680113598

# baseline

In [48]:
X_baseline = df_best.set_index('Datetime').groupby(
    ['Stock', pd.Grouper( freq='h')],
).agg({'Close': 'mean'}).reset_index()
X_baseline.head()

  Stock            Datetime       Close
0  AAPL 2023-01-30 17:00:00  144.833667
1  AAPL 2023-01-30 18:00:00  144.159833
2  AAPL 2023-01-30 19:00:00  143.951083
3  AAPL 2023-01-30 20:00:00  143.681667
4  AAPL 2023-01-30 21:00:00  143.388167

In [49]:
n_shifts = 18
for i in range(1, n_shifts + 1):
    X_baseline[f'shift_{i}'] = X_baseline.groupby(by=['Stock']).shift(i)['Close']

X_baseline = X_baseline.dropna()
X_baseline = X_baseline.drop(columns='Close')
X_baseline.head()

,Stock,Datetime,shift_1,shift_2,shift_3,shift_4,shift_5,shift_6,shift_7,shift_8,shift_9,shift_10,shift_11,shift_12,shift_13,shift_14,shift_15,shift_16,shift_17,shift_18
18,AAPL,2023-02-02 17:00:00,143.121271,142.186500,142.061917,142.751167,142.929167,143.026833,143.825508,143.472250,143.434917,143.335833,143.010000,142.988000,143.219153,143.388167,143.681667,143.951083,144.159833,144.833667
19,AAPL,2023-02-02 18:00:00,149.049167,143.121271,142.186500,142.061917,142.751167,142.929167,143.026833,143.825508,143.472250,143.434917,143.335833,143.010000,142.988000,143.219153,143.388167,143.681667,143.951083,144.159833
20,AAPL,2023-02-02 19:00:00,149.299833,149.049167,143.121271,142.186500,142.061917,142.751167,142.929167,143.026833,143.825508,143.472250,143.434917,143.335833,143.010000,142.988000,143.219153,143.388167,143.681667,143.951083
21,AAPL,2023-02-02 20:00:00,149.979417,149.299833,149.049167,143.121271,142.186500,142.061917,142.751167,142.929167,143.026833,143.825508,143.472250,143.434917,143.335833,143.010000,142.988000,143.219153,143.388167,143.681667
22,AAPL,2023-02-02 21:00:00,149.869333,149.979417,149.299833,149.049167,143.121271,142.186500,142.061917,142.751167,142.929167,143.026833,143.825508,143.472250,143.434917,143.335833,143.010000,142.988000,143.219153,143.388167

In [50]:
y = df_best.set_index('Datetime').groupby(
    ['Stock', pd.Grouper( freq='h')],
).agg({'Close': 'mean'}).reset_index()
y.head()

  Stock            Datetime       Close
0  AAPL 2023-01-30 17:00:00  144.833667
1  AAPL 2023-01-30 18:00:00  144.159833
2  AAPL 2023-01-30 19:00:00  143.951083
3  AAPL 2023-01-30 20:00:00  143.681667
4  AAPL 2023-01-30 21:00:00  143.388167

In [51]:
train_start, train_end = '2023-10-01', '2023-11-01'
test_start, test_end = '2023-11-01', '2023-11-07'

y_train = y[(y['Datetime'].dt.date >= pd.Timestamp(train_start).date()) & 
             (y['Datetime'].dt.date < pd.Timestamp(train_end).date())]

y_test = y[(y['Datetime'].dt.date >= pd.Timestamp(test_start).date()) & 
             (y['Datetime'].dt.date < pd.Timestamp(test_end).date())]

X_train = X_baseline[(X_baseline['Datetime'].dt.date >= pd.Timestamp(train_start).date()) & 
             (X_baseline['Datetime'].dt.date < pd.Timestamp(train_end).date())]

X_test = X_baseline[(X_baseline['Datetime'].dt.date >= pd.Timestamp(test_start).date()) & 
             (X_baseline['Datetime'].dt.date < pd.Timestamp(test_end).date())]

In [52]:
y_name = 'Close'

df_train = pd.merge(X_train, y_train, on=['Stock', 'Datetime'])
df_test = pd.merge(X_test, y_test, on=['Stock', 'Datetime'])

X_train, y_train = df_train.drop(columns=[y_name, 'Datetime', 'Stock']), df_train[y_name]
X_test, y_test = df_test.drop(columns=[y_name, 'Datetime', 'Stock']), df_test[y_name]

In [53]:
X_train

,shift_1,shift_2,shift_3,shift_4,shift_5,shift_6,shift_7,shift_8,shift_9,shift_10,shift_11,shift_12,shift_13,shift_14,shift_15,shift_16,shift_17,shift_18
0,171.311695,170.744583,171.005583,171.718583,172.111083,172.523333,170.999915,170.717667,170.963167,171.560167,170.608667,169.657333,170.279068,169.947333,169.615583,169.937500,170.682500,170.882167
1,173.344000,171.311695,170.744583,171.005583,171.718583,172.111083,172.523333,170.999915,170.717667,170.963167,171.560167,170.608667,169.657333,170.279068,169.947333,169.615583,169.937500,170.682500
2,173.639167,173.344000,171.311695,170.744583,171.005583,171.718583,172.111083,172.523333,170.999915,170.717667,170.963167,171.560167,170.608667,169.657333,170.279068,169.947333,169.615583,169.937500
3,173.219500,173.639167,173.344000,171.311695,170.744583,171.005583,171.718583,172.111083,172.523333,170.999915,170.717667,170.963167,171.560167,170.608667,169.657333,170.279068,169.947333,169.615583
4,173.224333,173.219500,173.639167,173.344000,171.311695,170.744583,171.005583,171.718583,172.111083,172.523333,170.999915,170.717667,170.963167,171.560167,170.608667,169.657333,170.279068,169.947333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3691,105.645167,105.760847,105.542583,105.651525,105.511695,105.422000,105.671333,105.205508,105.709667,105.430932,105.270000,105.476417,105.653333,107.394224,107.236983,106.939000,107.064375,107.374333
3692,105.780667,105.645167,105.760847,105.542583,105.651525,105.511695,105.422000,105.671333,105.205508,105.709667,105.430932,105.270000,105.476417,105.653333,107.394224,107.236983,106.939000,107.064375
3693,105.537583,105.780667,105.645167,105.760847,105.542583,105.651525,105.511695,105.422000,105.671333,105.205508,105.709667,105.430932,105.270000,105.476417,105.653333,107.394224,107.236983,106.939000
3694,105.716186,105.537583,105.780667,105.645167,105.760847,105.542583,105.651525,105.511695,105.422000,105.671333,105.205508,105.709667,105.430932,105.270000,105.476417,105.653333,107.394224,107.236983
3695,105.618500,105.716186,105.537583,105.780667,105.645167,105.760847,105.542583,105.651525,105.511695,105.422000,105.671333,105.205508,105.709667,105.430932,105.270000,105.476417,105.653333,107.394224

In [54]:
y_train

0       173.344000
1       173.639167
2       173.219500
3       173.224333
4       173.018417
           ...
3691    105.780667
3692    105.537583
3693    105.716186
3694    105.618500
3695    105.799746
Name: Close, Length: 3696, dtype: float64

In [55]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error as MAE

model = XGBRegressor()

model.fit(X_train, y_train)
y_pred = model.predict(X_test)

MAE(y_test, y_pred)

2.1079210682349263

## Baseline + TS2Vec

In [57]:
shifts = X_train

In [58]:
shifts_test = X_test

In [59]:
def stock_embeddigns_to_df(data_tensor: np.ndarray, stocks, dates) -> dict:    
    res = pd.DataFrame()
    for i, stock in enumerate(stocks):
        df = pd.DataFrame(data_tensor[i], index=dates)
        df.columns = ['emb_' + str(i) for i in range(len(df.columns))]
        df['Stock'] = stock
        res = pd.concat([res, df])

    return res.reset_index(drop=False, names='Datetime')

X_train = stock_embeddigns_to_df(train_repr, stocks=train_data['Open'].columns, dates=train_data['Open'].index)
X_test = stock_embeddigns_to_df(test_repr, stocks=test_data['Open'].columns, dates=test_data['Open'].index)
X_train.head()

,Datetime,emb_0,emb_1,emb_2,emb_3,emb_4,emb_5,emb_6,emb_7,emb_8,...,emb_119,emb_120,emb_121,emb_122,emb_123,emb_124,emb_125,emb_126,emb_127,Stock
0,2023-10-02 17:00:00,-0.576592,-0.085389,-0.180236,0.104353,0.052601,-0.373977,-0.303355,-0.245368,-0.153448,...,-0.237753,-0.183204,0.041506,-0.088383,-0.095953,-0.277801,-0.228087,0.075494,0.053723,AAPL
1,2023-10-02 18:00:00,0.005394,-0.263543,-0.445396,0.011726,-0.040396,-0.344073,0.058727,-0.339872,-0.423581,...,-0.169546,-0.176366,0.095663,-0.268582,-0.188872,0.106189,-0.060161,-0.139006,-0.091891,AAPL
2,2023-10-02 19:00:00,-0.624870,-0.094695,-0.210419,-0.111449,0.044308,-0.293072,-0.365148,-0.068545,0.067939,...,-0.199024,-0.110070,0.001707,-0.149053,-0.167050,-0.546129,-0.219797,0.113228,0.051339,AAPL
3,2023-10-02 20:00:00,-0.269701,-0.319665,-0.387342,-0.009177,-0.045935,-0.417750,-0.300339,-0.147413,-0.284537,...,-0.303175,-0.063661,0.060790,-0.392800,-0.258754,-0.076986,-0.120545,-0.191235,-0.055262,AAPL
4,2023-10-02 21:00:00,-0.389854,-0.064718,-0.247088,-0.022711,0.074581,-0.309505,-0.114075,-0.362404,-0.253921,...,-0.099198,-0.211249,0.083274,-0.046078,-0.063429,-0.216250,-0.152970,0.059913,0.014242,AAPL

In [60]:
y = df_best.set_index('Datetime').groupby(
    ['Stock', pd.Grouper( freq='h')],
).agg({'Close': 'mean'}).reset_index()
y.head()

  Stock            Datetime       Close
0  AAPL 2023-01-30 17:00:00  144.833667
1  AAPL 2023-01-30 18:00:00  144.159833
2  AAPL 2023-01-30 19:00:00  143.951083
3  AAPL 2023-01-30 20:00:00  143.681667
4  AAPL 2023-01-30 21:00:00  143.388167

In [61]:
train_start, train_end = '2023-10-01', '2023-11-01'
test_start, test_end = '2023-11-01', '2023-11-07'

y_train = y[(y['Datetime'].dt.date >= pd.Timestamp(train_start).date()) & 
             (y['Datetime'].dt.date < pd.Timestamp(train_end).date())]

y_test = y[(y['Datetime'].dt.date >= pd.Timestamp(test_start).date()) & 
             (y['Datetime'].dt.date < pd.Timestamp(test_end).date())]

In [62]:
y_name = 'Close'

df_train = pd.merge(X_train, y_train, on=['Stock', 'Datetime'])
df_test = pd.merge(X_test, y_test, on=['Stock', 'Datetime'])

X_train, y_train = df_train.drop(columns=[y_name, 'Datetime', 'Stock']), df_train[y_name]
X_test, y_test = df_test.drop(columns=[y_name, 'Datetime', 'Stock']), df_test[y_name]

In [63]:
X_train = pd.concat([X_train, shifts], axis=1)
X_test = pd.concat([X_test, shifts_test], axis=1)

In [64]:
X_train

,emb_0,emb_1,emb_2,emb_3,emb_4,emb_5,emb_6,emb_7,emb_8,emb_9,...,shift_9,shift_10,shift_11,shift_12,shift_13,shift_14,shift_15,shift_16,shift_17,shift_18
0,-0.576592,-0.085389,-0.180236,0.104353,0.052601,-0.373977,-0.303355,-0.245368,-0.153448,-0.164379,...,170.963167,171.560167,170.608667,169.657333,170.279068,169.947333,169.615583,169.937500,170.682500,170.882167
1,0.005394,-0.263543,-0.445396,0.011726,-0.040396,-0.344073,0.058727,-0.339872,-0.423581,-0.189864,...,170.717667,170.963167,171.560167,170.608667,169.657333,170.279068,169.947333,169.615583,169.937500,170.682500
2,-0.624870,-0.094695,-0.210419,-0.111449,0.044308,-0.293072,-0.365148,-0.068545,0.067939,-0.084641,...,170.999915,170.717667,170.963167,171.560167,170.608667,169.657333,170.279068,169.947333,169.615583,169.937500
3,-0.269701,-0.319665,-0.387342,-0.009177,-0.045935,-0.417750,-0.300339,-0.147413,-0.284537,-0.216983,...,172.523333,170.999915,170.717667,170.963167,171.560167,170.608667,169.657333,170.279068,169.947333,169.615583
4,-0.389854,-0.064718,-0.247088,-0.022711,0.074581,-0.309505,-0.114075,-0.362404,-0.253921,-0.066211,...,172.111083,172.523333,170.999915,170.717667,170.963167,171.560167,170.608667,169.657333,170.279068,169.947333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3691,0.127839,-0.270929,-0.286715,-0.130877,-0.128611,-0.268630,-0.031651,-0.439968,-0.582796,-0.207537,...,105.709667,105.430932,105.270000,105.476417,105.653333,107.394224,107.236983,106.939000,107.064375,107.374333
3692,-0.310485,-0.198897,-0.217486,-0.300649,-0.001383,-0.059892,-0.183588,-0.068694,-0.087093,0.044192,...,105.205508,105.709667,105.430932,105.270000,105.476417,105.653333,107.394224,107.236983,106.939000,107.064375
3693,-0.346416,-0.483199,-0.169879,-0.217108,-0.190735,-0.300871,-0.536324,-0.160496,-0.271850,-0.169311,...,105.671333,105.205508,105.709667,105.430932,105.270000,105.476417,105.653333,107.394224,107.236983,106.939000
3694,-0.124665,-0.109366,-0.208658,-0.113701,0.002692,-0.207501,-0.002271,-0.349507,-0.401982,-0.000423,...,105.422000,105.671333,105.205508,105.709667,105.430932,105.270000,105.476417,105.653333,107.394224,107.236983
3695,0.019931,-0.195898,-0.258882,-0.399319,-0.118521,-0.077275,-0.136790,-0.116678,-0.281939,-0.036584,...,105.511695,105.422000,105.671333,105.205508,105.709667,105.430932,105.270000,105.476417,105.653333,107.394224

In [65]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error as MAE
from xgboost import XGBRegressor

model = XGBRegressor()

model.fit(X_train, y_train)
y_pred = model.predict(X_test)

MAE(y_test, y_pred)

1.9901756210220625